/*CSS file*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #4f4f4f;
}

.nav-main {
	width: 220px;
	height: 100%;
	position: fixed;
	background-color: #edf0f4;
}

.ul-nav-menu {
	display: block;
	text-align: center;
	margin:  200px 0px 75px;
	font-size: 20px;
	cursor: pointer;
}

.p-li-menu {
	padding: 7px 0;
}

.li-nav-menu:hover {
	background-color: #89bde5;
}

main {
	position: absolute;
	margin: auto;
	left: 220px;
	right: 0; 
	text-align: center;
	overflow: scroll;
}

.header-main {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg.jpg);
	background-size: cover;
	filter: grayscale(0.2);	
	height: 400px;
	display: flex;
	flex-wrap: wrap;
}

.h1-header {
	color: white;
	font-size: 50px;
	margin: auto;
}

.subsection-main {
	margin: auto;
	max-width: 900px;
	padding: 0 15px;
}

.h3-section {
	font-size: 24px;
}

.section-main {
	margin: 30px 0;
}

.h2-section {
	font-size: 32px;
}

.p-section {
	font-size: 20px;
	margin: 20px 0;
}

.img-section {
	max-width: 100%;
	margin: 10px 20px;
	padding:1px;
	border:1px solid #021a40;
	background-color:#333;
}

.hr-section {
	border-top: dotted 3px;
	margin: 10px 0;	
}
