/*CSS file*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #4f4f4f;
}

.nav-main {
	width: 230px;
	height: 100%;
	position: fixed;
	background-color: #edf0f4;
}

.ul-nav-menu {
	display: block;
	text-align: center;
	margin:  200px 0px 75px;
	font-size: 20px;
	cursor: pointer;
}

.p-li-menu {
	padding: 7px 0;
}

.li-nav-menu:hover {
	background-color: #89bde5;
}

main {
	position: absolute;
	margin: auto;
	left: 230px;
	right: 0; 
	text-align: center;
	overflow: scroll;
}

.header-main {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg.jpg);
	background-size: cover;
	filter: grayscale(0.2);	
	height: 400px;
	display: flex;
	flex-wrap: wrap;
}

.h1-header {
	color: white;
	font-size: 50px;
	margin: 140px auto;
}

.h2-header {
	color: white;
	font-size: 24px;
	margin: -140px auto;
}

.section-main {
	margin: 30px 0;
}

.h2-section {
	font-size: 30px;
}